@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Ubuntu&display=swap");
@keyframes breakUpCard_top {
  from {
    transform: rotateX(90deg) translateY(0px) translateZ(60px);
  }
  to {
    transform: rotateX(90deg) rotateZ(10deg) translateY(200px) translateZ(60px);
  }
}
@keyframes returnToOrigin_top {
  from {
    transform: rotateX(90deg) rotateZ(10deg) translateY(200px) translateZ(60px);
  }
  to {
    transform: rotateX(90deg) translateY(0px) translateZ(60px);
  }
}
@keyframes breakUpCard_left {
  from {
    transform: rotateY(-90deg) translateZ(60px);
  }
  to {
    transform: rotateY(-100deg) translateZ(150px);
  }
}
@keyframes returnToOrigin_left {
  from {
    transform: rotateY(-100deg) translateZ(150px);
  }
  to {
    transform: rotateY(-90deg) translateZ(60px);
  }
}
@keyframes breakUpCard_right {
  from {
    transform: rotateY(90deg) translateZ(340px);
  }
  to {
    transform: rotateY(120deg) translateX(-300px) translateZ(300px);
  }
}
@keyframes returnToOrigin_right {
  from {
    transform: rotateY(120deg) translateX(-300px) translateZ(300px);
  }
  to {
    transform: rotateY(90deg) translateZ(340px);
  }
}
@keyframes breakUpCard_bottom {
  from {
    transform: rotateX(-90deg) translateZ(440px);
  }
  to {
    transform: rotateX(-90deg) rotateY(10deg) translateX(-50px) translateZ(480px);
  }
}
@keyframes returnToOrigin_bottom {
  from {
    transform: rotateX(-90deg) rotateY(10deg) translateX(-50px) translateZ(480px);
  }
  to {
    transform: rotateX(-90deg) translateZ(440px);
  }
}
@keyframes breakUpCard_front {
  from {
    transform: rotateX(0deg) translateZ(60px);
  }
  to {
    transform: translateZ(120px);
  }
}
@keyframes returnToOrigin_front {
  from {
    transform: translateZ(120px);
  }
  to {
    transform: rotateX(0deg) translateZ(60px);
  }
}
@keyframes breakUpCard_back {
  from {
    transform: rotateX(0deg) translateZ(-60px);
  }
  to {
    transform: rotateX(10deg) rotateZ(30deg) translateY(-50px) translateZ(-200px);
  }
}
@keyframes returnToOrigin_back {
  from {
    transform: rotateX(10deg) rotateZ(30deg) translateZ(-50px);
  }
  to {
    transform: rotateX(0deg) translateZ(-60px);
  }
}
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #e0e0e0;
}

.page_background {
  position: absolute;
  filter: blur(5px);
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}

.cardContainer {
  width: 400px;
  height: 500px;
  perspective: 1000px;
  margin: 200px 0;
}
.cardContainer__card {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotateY(15deg);
}
.cardContainer__card:hover .cardContainer__card__face__top {
  animation-name: breakUpCard_top;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:hover .cardContainer__card__face__left {
  animation-name: breakUpCard_left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:hover .cardContainer__card__face__right {
  animation-name: breakUpCard_right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:hover .cardContainer__card__face__bottom {
  animation-name: breakUpCard_bottom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:hover .cardContainer__card__face__front {
  animation-name: breakUpCard_front;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:hover .cardContainer__card__face__back {
  animation-name: breakUpCard_back;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:not(:hover) .cardContainer__card__face__top {
  animation-name: returnToOrigin_top;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:not(:hover) .cardContainer__card__face__left {
  animation-name: returnToOrigin_left;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:not(:hover) .cardContainer__card__face__right {
  animation-name: returnToOrigin_right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:not(:hover) .cardContainer__card__face__bottom {
  animation-name: returnToOrigin_bottom;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:not(:hover) .cardContainer__card__face__front {
  animation-name: returnToOrigin_front;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card:not(:hover) .cardContainer__card__face__back {
  animation-name: returnToOrigin_back;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.cardContainer__card__face {
  position: absolute;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.484);
  backdrop-filter: blur(0.5px);
  background: rgba(0, 0, 0, 0.414);
}
.cardContainer__card__face__top {
  transform: rotateX(90deg) translateY(0px) translateZ(60px);
  width: 100%;
  height: 120px;
}
.cardContainer__card__face__bottom {
  transform: rotateX(-90deg) translateZ(440px);
  width: 100%;
  height: 120px;
}
.cardContainer__card__face__right {
  transform: rotateY(90deg) translateZ(340px);
  width: 120px;
}
.cardContainer__card__face__left {
  transform: rotateY(-90deg) translateZ(60px);
  width: 120px;
}
.cardContainer__card__face__back {
  transform: rotateX(0deg) translateZ(-60px);
  width: 100%;
}
.cardContainer__card__face__front {
  transform: rotateX(0deg) translateZ(60px);
  width: 100%;
  filter: blur(0);
}
.cardContainer__card__face__front__audioPlayer {
  z-index: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.cardContainer__card__face__front__audioPlayer .timeline_soundbtn_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardContainer__card__face__front__audioPlayer .timeline_soundbtn_container .soundBtn {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 30px;
  color: rgba(233, 233, 233, 0.488);
  background: rgba(0, 0, 0, 0);
  font-size: 22px;
}
.cardContainer__card__face__front__audioPlayer .timeline_soundbtn_container .soundBtn:hover {
  color: rgb(255, 255, 255);
}
.cardContainer__card__face__front__audioPlayer .timeline_soundbtn_container .timeline {
  width: 70%;
  margin: 0 auto;
  appearance: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2784313725);
  background-size: 0% 100%;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-repeat: no-repeat;
}
.cardContainer__card__face__front__audioPlayer .timeline_soundbtn_container .timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  background-color: #252525;
}
.cardContainer__card__face__front__audioPlayer .timeline_soundbtn_container .timeline::-webkit-slider-thumb:hover {
  background-color: #5b5b5b;
}
.cardContainer__card__face__front__audioPlayer .timeline_soundbtn_container .timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}
.cardContainer__card__face__front__audioPlayer .timeline_soundbtn_container .timeline::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.cardContainer__card__face__front__audioPlayer .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  margin-bottom: 30px;
}
.cardContainer__card__face__front__audioPlayer .buttons__play {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 30px;
  color: rgba(233, 233, 233, 0.488);
}
.cardContainer__card__face__front__audioPlayer .buttons__play:hover {
  color: rgb(255, 255, 255);
}
.cardContainer__card__face__front__audioPlayer .buttons__forward {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 30px;
  color: rgba(233, 233, 233, 0.488);
}
.cardContainer__card__face__front__audioPlayer .buttons__forward:hover {
  color: rgb(255, 255, 255);
}
.cardContainer__card__face__front__audioPlayer .buttons__backward {
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 30px;
  color: rgba(233, 233, 233, 0.488);
}
.cardContainer__card__face__front__audioPlayer .buttons__backward:hover {
  color: rgb(255, 255, 255);
}
.cardContainer__card__face__front__audioPlayer .infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 80%;
  margin: 0 auto;
}
.cardContainer__card__face__front__audioPlayer .infos__albumCover {
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 250px;
}
.cardContainer__card__face__front__audioPlayer .infos__songName {
  font-size: 20px;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.cardContainer__card__face__front__audioPlayer .infos__songNameAndHeartContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardContainer__card__face__front__audioPlayer .infos__songNameAndHeartContainer__span {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardContainer__card__face__front__audioPlayer .infos__songNameAndHeartContainer__span__heartIcon {
  color: white;
  font-size: 20px;
}
.cardContainer__card__face__front__audioPlayer .infos__songNameAndHeartContainer__span__heartIcon:hover {
  cursor: pointer;
  animation-name: fillHeart;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.cardContainer__card__face__front__audioPlayer .infos__artist {
  font-size: 14px;
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
.cardContainer__card__face__front__audioPlayer .infos #audio {
  width: 100%;
  margin-bottom: 10px;
  border: none;
}

@keyframes fillHeart {
  0% {
    background: 20% linear-gradient(white 100%, red);
    background-position: 0% 80%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  10% {
    background: 20% linear-gradient(white 90%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  20% {
    background: 20% linear-gradient(white 80%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  30% {
    background: 20% linear-gradient(white 70%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  40% {
    background: 20% linear-gradient(white 60%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  50% {
    background: 20% linear-gradient(white 50%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  60% {
    background: 20% linear-gradient(white 40%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  70% {
    background: 20% linear-gradient(white 30%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  80% {
    background: 20% linear-gradient(white 20%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  90% {
    background: 20% linear-gradient(white 10%, red);
    background-position: 0% 40%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  100% {
    background: 20% linear-gradient(rgb(255, 50, 43), red);
    background-position: 0% 0%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
}
@keyframes pageBgDisparition {
  0% {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0%;
    height: 100%;
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=style.css.map */
